/* Footer */
footer {
    padding: 25px 0px 20px 0px;
    @include tablet-min {
        padding: 20px 0px 20px 0px;
    }
    .footer__wrapp {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        @include tablet {
            flex-direction: column-reverse;
            align-items: center;
        }
        .footer__wrapp__content {
            display: flex;
            justify-content: space-between;
            gap: 51px;
            @include tablet {
                flex-direction: column;
                align-items: center;
            }
            .footer__logo {
                max-width: 194px;
                min-width: 112px;
                width: 100%;
                height: auto;
            }
            .footer__wrapp__content__info {
                width: 391px;
                align-items: flex-start;
                flex-direction: column;
                gap: 52px;
                @include tablet {
                    max-width: 391px;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    gap: 15px;
                }
                p {
                    font-size: 20px;
                    color: $first-color;
                    @include tablet-min {
                        font-size: 18px;
                    }
                }
                .footer__wrapp__content__info__social__networks {
                    width: 100%;
                    max-width: 223px;
                    a {
                        max-width: 40px;
                        max-height: 27px;
                        text-align: center;
                        img {
                            opacity: 1;
                            transition: opacity 0.2s linear;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
                .footer__wrapp__content__info__copyright {
                    font-size: 20px;
                    color: $first-color;
                }
            }
        }
        .footer__wrapp__menu {
            align-items: flex-start;
            max-width: 508px;
            width: 100%;
            gap: 20px;
            @include tablet {
                max-width: 410px;
            }
            .footer__wrapp__menu__title {
                margin-bottom: 18px;
                font-weight: 700;
                color: #f5fbf2;
            }
            .footer__wrapp__menu__nav {
                line-height: 50px;
                button,a {
                    font-size: 20px;
                    background-color: transparent;
                    color: $first-color;
                    transition: color .2s linear;
                    @include tablet-min {
                        font-size: 18px;
                    }
                    &:hover {
                        color: darken($first-color, 25%);
                    }
                    &:focus {
                        color: $first-color;
                    }
                }
            }
        }
    }
}
/* //Footer */
